<template>
  <div id="app" class="min-h-sreen flex flex-col">
    <div id="menu" class="flex w-full bg-gray-200 p-6">
      <button @click="videoToggle()" :class="videoOn?'bg-red-500 hover:bg-red-700':'bg-blue-500 hover:bg-blue-700'" class="text-white font-bold py-2 px-4 rounded-full h-10 mx-2">
        Video
      </button>
      <select id="video" class="w-20 border-2"></select>
      <button @click="audioToggle()" :class="audioOn?'bg-red-500 hover:bg-red-700':'bg-blue-500 hover:bg-blue-700'" class="text-white font-bold py-2 px-4 rounded-full h-10 mx-2">
        Audio
      </button>
      <select id="audio" class="w-20 border-2"></select>
      <button @click="shareScreenToggle()" :class="shareScreenOn?'bg-red-500 hover:bg-red-700':'bg-blue-500 hover:bg-blue-700'" class="text-white font-bold py-2 px-4 rounded-full h-10 mx-2">
        Screen
      </button>
      <div v-show="!inRoom" class="flex-grow flex items-center ml-5">
        <label class="block text-black font-bold text-right mb-1 pr-4" for="input-room">
          Room:
        </label>
        <input v-model="inputRoom" @input="noSpaceInput" class="bg-white appearance-none border-2 border-gray-500 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="input-room" type="text" placeholder="Enter room">
      </div>
      <button v-show="!inRoom" @click="joinRoom()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full h-10 mx-2">
        Join
      </button>
      <button v-show="inRoom" @click="leaveRoom()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full h-10 mx-2">
        Leave
      </button>
    </div>
    <div id="video-container" class="p-8 grid gap-8 grid-col-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div id="my-video-div" class="border-2 border-gray-500 bg-gray-100 rounded">
        <h3 class="text-center">{{username}}</h3>
        <video autoplay id="my-video"></video>
      </div>
    </div>
  </div>
</template>

<script>
import * as MediasoupClient from 'mediasoup-client';

export default {
  mounted(){
    //this.username = prompt('Enter your name');
    this.username = this.getUsername;
    const videoOption = document.getElementById('video');
    const audioOption = document.getElementById('audio');
    navigator.mediaDevices.enumerateDevices()
    .then(function(devices) {
      devices.forEach(function(device) {
        const el = document.createElement('option');
        el.value = device.deviceId;
        el.innerHTML = device.label;
        if(device.kind=="videoinput") videoOption.appendChild(el) ;
        else if(device.kind=="audioinput") audioOption.appendChild(el);
        console.log(device.kind + ": " + device.label +
                    " id = " + device.deviceId);
      });
    })
    .catch(function(err) {
      console.log(err.name + ": " + err.message);
    });
  },
  data(){
    return {
      username: '',
      shareScreenOn: false,
      videoOn: false,
      audioOn: false,
      inRoom: false,
      socket: null,
      inputRoom: '',
      device: null,
      producerTransport: null,
      consumerTransport: null,
      producers: {},
      videoConsumers: {},
      audioConsumers: {},
      containers: [],
    }
  },
  computed: {
    getUsername(){
      return this.$store.getters.getUsername;
    }
  },
  methods: {
    async shareScreenToggle(){
      this.shareScreenOn = !this.shareScreenOn;
      const myVideo = document.getElementById('my-video');
      myVideo.srcObject = await navigator.mediaDevices.getDisplayMedia({video:true});
    },

    videoToggle(){
      this.videoOn = !this.videoOn;
      const video = this.videoOn;
      const audio = this.audioOn;
      const myVideo = document.getElementById('my-video');
      if(!video){
        window.localStream.getVideoTracks()[0].stop();
        myVideo.srcObject = new MediaStream(window.localStream.getAudioTracks()[0]);
        this.stopProduce('video');
        return;
      }
      navigator.mediaDevices.getUserMedia({video, audio})
      .then(stream=>{
        myVideo.srcObject = window.localStream = stream;
        this.produce('video');
      });
    },

    audioToggle(){
      this.audioOn = !this.audioOn;
      const video = this.videoOn;
      const audio = this.audioOn;
      const myVideo = document.getElementById('my-video');
      if(!audio){
        window.localStream.getAudioTracks()[0].stop();
        this.stopProduce('audio');
        return;
      }
      navigator.mediaDevices.getUserMedia({video, audio})
      .then(stream=>{
        myVideo.srcObject = window.localStream = stream;
        this.produce('audio');
      });
    },

    async produce(kind){
      if(!this.producerTransport) return;
      if(kind==='video') {
        const track = window.localStream.getVideoTracks()[0];
        this.producers['video'] = await this.producerTransport.produce({track});
      }
      else if(kind==='audio'){
        const track = window.localStream.getAudioTracks()[0];
        this.producers['audio'] = await this.producerTransport.produce({track})
      }
    },

    stopProduce(kind){
      if(kind==='video' && this.producers['video']){
        this.socket.emit('closeProducer', {producerId: this.producers['video'].id, kind:'video'}, ()=>{
          this.producers['video'].close();
        })
      }
      else if(kind==='audio' && this.producers['audio']){
        this.socket.emit('closeProducer', {producerId: this.producers['audio'].id, kind:'audio'}, ()=>{
          this.producers['audio'].close();
        })
      }
    },

    joinRoom(){
      if(!this.inputRoom){ 
        alert('Plese enter room');
        return;
      }
      this.connect();
    },

    connect(){
      this.socket = this.$nuxtSocket({transports:['websocket']});
      this.socket.on('connect', async ()=>{
        const room = this.inputRoom;
        const username = this.username;
        this.socket.emit('joinRoom', {room, username}, async ({users})=>{
          for(let user of users) this.newUser(user.remoteId, user.username);
          try {
            this.device = new MediasoupClient.Device();
          } catch (error) {
            if (error.name === 'UnsupportedError') console.error('browser not supported');
          }
          this.socket.emit('getRouterRtpCapabilities', {}, async ({rtpCapabilities})=>{
            await this.device.load({ routerRtpCapabilities:rtpCapabilities });
            this.createSendTransport();
            this.createRecvTransport();
            this.inRoom = true;
            //console.log('success join Room', this.inputRoom);
            this.notify(`welcome to room ${room}`);
          });
        });
      });
      this.socket.on('newUser', ({remoteId, username})=>{
        this.newUser(remoteId, username);
        this.notify(`${username} join room`);
      })
      this.socket.on('newProducer', async ({remoteId, kind})=>{
        await this.consume(remoteId, kind);
      })
      this.socket.on('producerClose', ({remoteId, kind})=>{
        if(kind==='video') this.videoConsumers[remoteId].close();
        else if(kind==='audio') this.audioConsumers[remoteId].close();
      });
      this.socket.on('userLeave', ({remoteId, username})=>{
        let consumer = this.videoConsumers[remoteId];
        if(consumer) this.videoConsumers[remoteId].close();
        consumer = this.audioConsumers[remoteId];
        if(consumer) this.audioConsumers[remoteId].close();
        const element = document.getElementById(remoteId+"-div");
        document.getElementById('video-container').removeChild(element);
        this.notify(`${username} leave the room`, 'warn');
      })
    },

    newUser(remoteId, username){
      const element = document.createElement('div');
      element.id = remoteId + "-div";
      this.containers.push(element.id);
      element.className += "border-2 border-gray-500 bg-gray-100 rounded";
      const telement = document.createElement('h3');
      telement.innerText = username;
      telement.className += "text-center";
      element.appendChild(telement);
      const velement = document.createElement('video');
      velement.id = remoteId;
      velement.volume = 0;
      velement.autoplay = true;
      element.appendChild(velement);
      document.getElementById('video-container').appendChild(element);
    },

    createSendTransport(){
      this.socket.emit('createProducerTransport', {}, async ({params})=>{
        console.log("producer transport created");
        this.producerTransport = this.device.createSendTransport(params);
        this.producerTransport.on("connect", async (data, callback, errback) => {
          try {
            await this.socket.emit("connectProducerTransport", { dtlsParameters : data.dtlsParameters },()=>{
              console.log('connect producer transport with server')
              callback();
            });
          } catch (error) { errback(error); }
        });

        this.producerTransport.on('produce', async ({kind, rtpParameters}, callback, errback)=>{
          try {
            await this.socket.emit('produce', {kind, rtpParameters}, ({producerId, kind})=>{
              console.log('produce created', producerId, kind);
              callback({id:producerId});
            });
          } catch (error) { errback(error); }
        });

        if(this.videoOn) this.produce('video');
        if(this.audioOn) this.produce('audio');
      });
    },

    createRecvTransport(){
      this.socket.emit('createConsumerTransport', {}, async ({params})=>{
        console.log("consumer transport created");
        this.consumerTransport = this.device.createRecvTransport(params);
        this.consumerTransport.on('connect', async (data, callback, errback)=>{
          try{
            await this.socket.emit("connectConsumerTransport",{ dtlsParameters : data.dtlsParameters },()=>{
              console.log('connect consumer transport with server');
              callback();
            });
          } catch(e){  errback(e); }
        });
        
        this.consumeAllProducers();
      });
    },

    consumeAllProducers(){
      this.socket.emit('getProducers', {}, ({remoteVideoId, remoteAudioId})=>{
        remoteVideoId.forEach(async (rId) => {
          await this.consume(rId, 'video');
        });
        remoteAudioId.forEach(async (rId) => {
          await this.consume(rId, 'audio');
        });
      });
    },

    consume(remoteId, kind){
      const {rtpCapabilities} = this.device;
      this.socket.emit('consume', {remoteId, kind, rtpCapabilities}, async (data)=>{
        const consumer = await this.consumerTransport.consume(data);
        if(kind==='video'){
          await this.socket.emit('resume', { remoteId, kind }, ()=>{
            console.log('resume success');
          });
          this.videoConsumers[remoteId] = consumer;
        }
        else if(kind==='audio') this.audioConsumers[remoteId] = consumer;
        if(!this.containers.includes(remoteId)) this.containers.push(remoteId);
        let element = document.getElementById(remoteId);
        if(element.srcObject) element.srcObject.addTrack(consumer.track);
        else element.srcObject = new MediaStream([consumer.track]);
      });
    },

    leaveRoom(){
      this.inRoom = false;
      if(this.videoOn) this.videoToggle();
      if(this.audioOn) this.audioToggle();
      document.getElementById('my-video').srcObject = null;
      window.localStream = null;
      this.socket.disconnect();
      if(this.containers)
      for(let rid of this.containers){
        const element = document.getElementById(rid);
        console.log(element);
        document.getElementById('video-container').removeChild(element);
      }
      this.containers = [];
      this.producers = {};
      this.producerTransport = null;
      this.consumerTransport = null;
      this.device = null;
    },

    noSpaceInput() {
      if(this.inputRoom) this.inputRoom = this.inputRoom.trim();
      else this.inRoom = '';
    },

    notify(text, type='success', duration=10000){  
      this.$notify({
        type,
        text,
        duration
      });
    }
  }
}
</script>

<style scoped>

</style>