<template>
  <div class="w-screen h-screen flex justify-center items-center">
    <div class="rounded shadow border-2 flex-cols py-10 px-5 h-48">
      <input v-model="username" class="bg-white appearance-none border-2 border-gray-500 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" placeholder="Enter username">
      <button @click="go" class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full h-10 w-full">Continue</button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data(){
    return {
      username: '',
    }
  },
  methods: {
    go(){
      if(!this.username){
        alert('Please enter username');
        return;
      }
      this.$store.commit('setUsername', this.username);
      this.$router.push('/home');
    }
  }
})
</script>
